{% extends 'parent/base.html' %}
{% load static %}
{% block title %} ساخت پست {% endblock %}
{% block content %}
<div class="comment">

{% if post %}
    <h1> پست شما با موفقیت ثبت شد</h1>
    <h1>لطفا منتظر تایید ادمین باشید</h1>
    <a href="{% url 'blog:profile' %}" >  بازگشت به   پروفایل  </a>
{% else %}
     <span><i class="fa fa-comments"></i>              برای ایجاد پست فرم زیر را پر کنید  </span>
     <form method="post">
         {% csrf_token %}
         <div class="form-group col-md-6">
             {{ form.title.label }}
             <input class="form-control" type="text" name="title" placeholder="عنوان پست را وارد کنید"
                    value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
             {{ form.title.errors}}
         </div>
         <div class="form-group col-md-12">
             {{ form.content.label }}
             <textarea class="form-control" name="content" placeholder="متن پست"
                       rows="7" >{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
             {{ form.content.errors }}
         </div>
         <div class="form-group col-md-12">
             <button class="btn btn-default" type="submit">ثبت پست</button>
         </div>
     </form>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}
 </div>
{% endblock %}
