{% load static %}
<div class="main-menu">
         <div class="container">
            <ul>
               <li><a href="{% url 'blog:index' %}">صفحه اصلی</a></li>
               <li><a href="{% url 'blog:post_list' %}">بست ها</a></li>
               <li><a href="#contact_us">تماس</a></li>
               <li><a href="{% url 'blog:about_us' %}">درباره</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'blog:profile' %}"> پروفایل </a></li>
                {% else %}
                    <li><a href="{% url 'admin:index' %}"> ورود </a></li>
                {% endif %}
            </ul>
         </div>
      </div>
      <div class="top-section">
         <div class="container">
            <div class="row">
               <div class="col-md-2">
                  <img src="{% static 'img/BlackNoteBook.png' %}" alt="" class="logo">
               </div>
               <div class="col-md-5">
                  <form method="" action="" class="search-form">
                     <input type="text" name="" placeholder="جستجو کنید ...">
                     <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
               </div>
               <div class="col-md-5">
                  <div class="index-h1">
                     <h1>بهترین و متفاوت ترین مقالات آموزشی</h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>